.tableData {
    border : solid 1px;
    color  : black;
}

.tableHeader {
    border : solid black 1px;
    background-color  : gold;
}

.negativeChange {
    color: red;
}

.positiveChange {
    color : green;
}