body,html {

  width : 100%;

  margin: 0;
  padding : 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
html{
  min-height: 100% ;
  min-width: 100% ;
  background: linear-gradient(225deg, #147bff 0, #5e73fa 8.33%, #826bf1 16.67%, #9d61e6 25%, #b357d9 33.33%, #c54dcb 41.67%, #d442bc 50%, #e037ac 58.33%, #e82e9b 66.67%, #ee278a 75%, #f22579 83.33%, #f32868 91.67%, #f22f57 100%);



}
#root{

  width : 100%;
  height : 100%;
}